header {
    background-color: #003049;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 20px 40px;

    color: #EAE2B7;
}

a {
    color: #EAE2B7;
}

li:hover {
    opacity: 0.8;
}

section {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 40px;
}

span { 
    font-size: 12px;
}

strong {
    display: inline;
}

footer {
    padding: 40px;
    text-align: center;
    background-color: #003049;

    color: #EAE2B7;
}


/* ID */
#logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.background-color-blue {
    background-color: #003049;
}

/* Class */
.user-image {
    background-color: #EAE2B7;
    padding: 8px;
    border-radius: 100%;
}

.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #F77F00;
}

.banner-movies {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.movie {
    position: relative;
}

.movie > img {
    height: 240px;
    width: 160px;
    border-radius: 12px;
}

.movie-content {
    padding: 8px 0 8px 0 ;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.movie-content h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px; Ajuste conforme necessário
    display: block;
}

.movie-informations {
    display: flex;
    justify-content: space-between;
}

.movie-informations p {
    opacity: 50%;
}

.movie-informations img {
    height: 16px;
    width: 16px;
    color: red;
}

.banner-movies .movie .onmouse {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;

    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 12px;
    cursor: pointer;
}

/* Search */

.field-search {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 800px;
    margin: auto;
    padding: 4px 12px 4px 12px;
    border-radius: 40px;

    border: 1px solid #EAE2B7;
}

.field-search input {
    background-color:  #003049;
    color: #EAE2B7;
    border: 0;
    font-size: 16px;
    padding: 8px;
} 

.field-search img {
    width: 24px;
    height: 24px;
}

/* Favorites */

.card-favorite {
    position: relative;
    display: flex;
    gap: 16px;
    padding: 16px;
    border-radius: 12px;
    
    background-color: #000;
    color: #EAE2B7;
}

.card-favorite img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.card-favorite-content {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.card-about-favorite {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;

    border-radius: 12px;
    
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
} 

/* COMENTARIOS */

.list-comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.comment {
    display: flex;
    align-items: center;
    width: 620px;
    gap: 16px;
    padding: 16px;
    border-radius: 12px;

    background-color: #003049;
    color: #D9D9D9;
}

.comment > img {
    width: 120px;
    height: 120px;
}

.comment-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.comment-buttons-actions {
    display: flex;
    gap: 8px;
}

.comment-avaliation {
    display: flex;
    gap: 4px;

    color: #D7C04B;
}

/* Modal - Movie */

.modal-movie {
    position: absolute;

    display: none;
    justify-content: center;
    align-items: center;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, .6);
}

.modal-movie-content {
    display: flex;
    gap: 24px;
    padding: 24px;
    border-radius: 20px;
    
    max-width: 800px;

    color: #EAE2B7;
    background-color: #003049;
}

.modal-movie-informations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal-movie-data {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal-movie-data div {
    display: flex;
    align-items: center;
    gap: 4px;
}

.modal-movie-buttons {
    display: flex;
    gap: 12px;
}

.modal-movie-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px;
    border-radius: 12px;
    border: 0;

    font-size: 24px;
    font-weight: bold;

    color: #D9D9D9;

    width: 240px;
    cursor: pointer;
}

.modal-movie-buttons button:hover {
    opacity: 0.8;
}

.modal-movie-buttons img {
    color: #D9D9D9;
}

.modal-movie-buttons > button:first-child {
    background-color: #AD0505;
}

.modal-movie-buttons > button:last-child {
    background-color: #F77F00;
}