* { 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans';
    background-color: #D9D9D9;
}

header {
    background-color: #003049;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 20px 40px;

    color: #EAE2B7;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

nav {
    display: flex;
    gap: 16px;
    align-items: center;
}

ul {
    display: flex;
    gap: 16px;
}

li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

a {
    display: inline-block;

    color: #EAE2B7;
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 40px;
}

span { 
    font-size: 12px;
}

footer {
    padding: 40px;
    text-align: center;
    background-color: #003049;

    color: #EAE2B7;
}

/* ID */
#logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.background-color-blue {
    background-color: #003049;
}

/* Class */
nav .user-image {
    background-color: #EAE2B7;
    padding: 8px;
    border-radius: 100%;
}

.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #F77F00;
}

ul li:hover {
    opacity: 0.8;
}

.banner-movies {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.banner-movies .movie {
    position: relative;
}

.banner-movies .movie img {
    height: 340px;
    width: 210px;
}

.banner-movies .movie .onmouse {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 4px;

    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 12px;
    cursor: pointer;
}

.banner-movies .card {
    display: flex;
    gap: 12px;
    padding: 12px;
    border-radius: 12px;
    
    background-color: #000;
    color: #EAE2B7;
}

.banner-movies .card img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.banner-movies .card .card-content {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}